name: 'Deploy to Development'
run-name: Deploy '${{ github.ref_name }}' to 'dev-gcp'
on:
  workflow_dispatch:

jobs:
  deploy-to-dev:
    name: 'Deploy to dev'
    permissions:
      contents: write
      id-token: write
    uses: navikt/sosialhjelp-ci/.github/workflows/deploy_app.yml@v14
    with:
      cluster-name: 'dev-gcp'
      resource-name: 'dev'
    secrets: inherit
